name: Build and Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2.pem
          chmod 600 ~/.ssh/ec2.pem
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Copy source to EC2
        run: |
          rsync -avz -e "ssh -i ~/.ssh/ec2.pem" ./ ec2-user@${{ secrets.EC2_HOST }}:/home/ec2-user/app

      - name: Build and run Docker on EC2
        run: |
          ssh -i ~/.ssh/ec2.pem ec2-user@${{ secrets.EC2_HOST }} << 'EOF'
            cd /home/ec2-user/app

            docker stop java-app || true
            docker rm java-app || true

            docker build -t java-app .
           docker run -d --name java-app java-app
            
          EOF
